{% extends 'base.html' %}
{% block pagetitle %}
Cosmetics Identification System
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
  @media (min-width:830px) and (max-width: 1536px){
    .mobile{
      display: none;
    }
  }
</style>
<div class='mobile p-5'>
  <div class="row mb-5 text-center text-white">
    <div class="col-lg-10 mx-auto">
      <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color:red;"><b>Note✍🏻</b></h1>
      <p class="lead" style="font-weight: 500;color: black;">Please🙏 Open This Site On Laptop/PC 💻 Screen Only</p>
      <p class="lead" style="font-weight: 500;color: black;">Thank You 🤝</p>    
    </div>
</div>
</div>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Cosmetics Detection System </b></h1>
        <p class="lead" style="font-weight: 700;color: black;">This AI Engine Will Help To Identify Items From Cosmetics Products</p>
        <p class="lead" style="font-weight: 600;color: black;">Choose Best Products</p>
    </div>
</div>







<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://www.fresh.com/dw/image/v2/BDJQ_PRD/on/demandware.static/-/Sites-fresh_master_catalog/default/dw4a66f75c/product_images/H00005361_main_pdp.jpg?sw=1350&sh=900&bgcolor=F7F7F8&sfrm=jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Lotus Antioxidant Daily Moisturizer, 50Ml | Skincare | Fresh Beauty US</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.cetaphil.com/dw/image/v2/BGGN_PRD/on/demandware.static/-/Library-Sites-RefArchSharedLibrary/default/dwea52d1ea/2023FEB/MOISTURIZERS_m.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Nourishing Moisturizers for Sensitive Skin | Cetaphil US</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.lancome-usa.com/on/demandware.static/-/Sites-lancome-us-master-catalog/default/dw92398803/pdp/1000397/D0449331%20-%20LNCM%20-%20HYDRA%20ZEN%20PACKSHOT%20-%201000%20x%201000.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Hydra Zen Gel Cream - Moisturizers - Skincare - Lancôme</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQI1rGDF-usJya0K56X0GW8J-iklnI8gvPsQ&usqp=CAU" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">POND'S Dry Skin Cream Facial Moisturizer</p></center>
        </div>
    </div>
</div>

<center class="laptop">
  <a href="/index">
      <img src="https://www.simple.co.uk/sk-eu/content/dam/brands/simple/global_use/1099125-simple-4-facial-cleansers-your-skin-will-love-banner--28.jpg.rendition.1700.650.jpg" width="1350" height="450"></a>
</center>

<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://www.cleanandclear.com/sites/cleanandclear_us/files/styles/square_440/public/product-thumbnails/thumb-transpmorningpersabundle.png" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Face Cleansers & Scrubs for Acne | Clean & Clear</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://www.stives.com/wp-content/uploads/sites/2/2021/07/x1498925-Creative-Development-PDPs-4x-update-205x453_NEW2_Acne.png,qx43170.pagespeed.ic.Nh-ypc2y3s.png" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Acne Control Tea Tree Facial Cleanser</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQutDCc_EcPcMypGwBjxfAEsFm2arPMPccFFQ&usqp=CAU">
          <center><p class="lead" style="font-weight: 500;color: black;">Deep Clean Facial Cleanser | Neutrogena </p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1684413685-11429067-2674909337809275.jpg?crop=1xw:1.00xh;center,top&resize=980:*" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">13 Best Salicylic Acid Cleansers In 2023, Per Dermatologists</p></center>
        </div>
    </div>
</div>

<center class="laptop">
  <a href="/index">
      <img src="https://www.organico.ie/wp/wp-content/uploads/2019/05/new-suncreams-group-badger-1.jpg" width="1350" height="450"></a>
</center>

<div class="row mb-5 text-center text-white laptop">
  <div class="col-lg-10 mx-auto">
      <p class="lead" style="font-weight: 700;color: black;">Sunscreen, also known as sunblock or sun cream, 
        is a photoprotective topical product for the skin that helps protect against sunburn and most importantly prevent skin cancer. 
        Sunscreens come as lotions, sprays, gels, foams 
        (such as an expanded foam lotion or whipped lotion), sticks, powders and other topical products.</p> 
  </div>
</div>

<div class="row p-5 laptop">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">
          <img src="https://backoffice.fancypoint.lk/photos/products/16d0df3f99f02312caed9595f94dfd03-std.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Fancypoint (pvt) ltd | your accessories & cosmetics</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://img3.exportersindia.com/product_images/bc-small/2021/10/4579189/sun-protect-cream-1634367053-6039085.jpeg">
          <center><p class="lead" style="font-weight: 500;color: black;">Sun Protection Cream</p></center>
        </div>
    </div>
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 90%;height: 92%;">

          <img src="https://static.eau-thermale-avene.com/sites/files-nz/styles/149x180/public/images/product/image/emulsion_spf50.png?itok=MN2DUVnA">
          <center><p class="lead" style="font-weight: 500;color: black;">Suncare Products</p></center>
        </div>
    </div>
    
    </div>
</div>


<center class="laptop">
  <a href="/index">
      <img src="https://www.reebonn.com/images/HAIR_OIL.jpg" width="1350" height="450"></a>
</center>

<center class="laptop">
<div class="row p-5">
    <div class=" col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">
          <img src="https://herbalcosmetics.lk/images/1582370020GANESHA-HAIR-GROWTH-OIL-200ML.jpg" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">GANESHA HAIR GROWTH OIL 100ML</p></center>
        </div>
    </div>
    <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu90RGz7_SsNxJmu-aHrKWeXXbqdL8yGKrHPj3gNXTzna5PBrnmwg0K7a9pjcihFsLtuA&usqp=CAU" width="250" height="250">
          <center><p class="lead" style="font-weight: 500;color: black;">Indulekha Hair Oil Sri Lanka</p></center>
        </div>
    </div>
    <div class="col">
      <div class="p-3 bg-white shadow rounded-lg" style="width: 45%;height: 92%;">

        <img src="https://cdn.shopify.com/s/files/1/0043/9064/9974/products/Kumarika-Nourishing-Hair-Oil-Hair-Fall-Control-200ml-1-Ceylon-Supermart_800x.jpg?v=1660950603" height="250">
        <center><p class="lead" style="font-weight: 500;color: black;">Kumarika Hair Oil</p></center>
      </div>
  </div>
  
</div>
</center>

{% endblock body %}


